.gap{
    margin: 100px 0;
}
.provided-service-scroll-area{
    height: 600px;
    width: auto;
    overflow:auto;
}
.div ::-webkit-scrollbar{
    display: none;
}
.service-info{
    transition: transform .15s;

}

.service-info:hover{
    
    -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
.card:hover{
    box-shadow: 1px 8px 14px -2px #6e6c6c
}